body{
    background-color:var(--gris);
    height: auto;
}

.presentacion{
    width: 100%;
    height: 70em;
    background-image: url(../img/acercademi2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    margin-top: 1.5em;
}

.acercademi{
    width: 100%;
    height: 85em;
    background-color: var(--blanco);
    text-align: center;
    display: inline-block;
    padding: 25px;
    box-sizing: border-box;
}

.cuadronegro{
    width: 80%;
    height: 79em;
    max-width: 2000px;
    background-color: var(--blanco);
    box-shadow: -24px 20px 40px rgba(0, 0, 0, .3);
    text-align: justify;
    margin: auto;
    border-radius: 40px;
}

.cuadroacercademi{
    width: 72%;
    height: 22%;
    padding: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    float: left;     
}

.text1{
    color: var(--negro);
    font-size: 5em;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    display: inline-block;
}

.cuadroimg{
    width: 28%;
    height: 73%;
    display: inline-block;
    float: right;   
}

.cuadrotext{
    width: 72%;
    height: 78%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.9em;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}

.textoab{
    line-height: 1.3em;
}

.jpbaby{
    width: 90%;
    height: 100%;
}

.cuadrohabilidades{
    width: 100%;
    height: auto;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.cuadroh{
    width: 80%;
    max-width: 2000px;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    margin: 0 auto;
    overflow: hidden;
}

.habilidades{
    width: 100%;
    height: 45em;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.textoh{
    width: 100%;
    height: 10em;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;;
}

.progras{
    color: var(--negro);
    font-size: 4em;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    display: inline-block;
}
