body{
    background-color:var(--gris);
    height: auto;
}

.contenedor{
    width: 80%;
    max-width: 2000px;
    background-color: aqua;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2em;
}

.menu{
    width: 100%;
    height: 8em;
    text-align: end;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    width: 16em;
    margin-top: 1em;
    margin-right: 10em;
    float: left;
    margin-left: 7em;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
    justify-content: flex-end;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 8px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: var(--negro);
}

.menu_items li:hover, li.active{
    background-color: rgba(0, 0, 0, .1);
    transition: 0.4s;
}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: (--negro);
    cursor: pointer;
    display: none;
}

ul.show{
    top:65px;
}

//---------------------------------------------------------------------//

@media screen and (max-width:952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;    
    }
}

@media screen and (max-width:952px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: var(--griso);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: (--blanco);
    }
    .menu_items li a:hover{
        color: (--negro);
    }
    .logo{
        width: 13em;
        padding-left: 20px;
    }
}

@media screen and (max-width:858px) and (orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
.presentacion{
    width: 100%;
    height: 70em;
    background-color: var(--gris);
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
}

.saludo{
    color: var(--negro);
    font-size: 3em;
    margin-left: 17em;
    margin-top: 8em;
}

.grado{
    color: var(--azul);
    font-size: 2em;
    margin-top: 0.5em;
    margin-left: 25.5em;
}

.acercademi{
    width: 100%;
    height: 50em;
    background-color: var(--blanco);
    text-align: center;
    display: inline-block;
    text-align: center;
}

.acercademitexto{
    color: var(--azul);
    font-size: 4em;
    float: right;
    margin-top: 1em;
    margin-right: 3em;
}
.cuadronegro{
    width: 90%;
    height: 45em;
    background-color: var(--blanco);
    box-shadow: -12px 12px 20px 1px grey;
    border-radius: 0.5em;
    text-align: center;
    margin-top: 2em;
    margin: auto;
}

.programas{
    width: 100%;
    height: 45em;
    background-color: var(--gris);
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.text{
    width: 100%;
    height: 10em;
    background-color: var(--gris);
}

.progras{
    color: var(--negro);
    font-size: 4em;
    float: left;
    margin-top: 1em;
    display: inline-block;
}

.cuadritos{
    width: 100%;
    height: 100%;
    background-color: var(--gris);
    text-align:center;
}

div2{
    width: 24em;
    height: 24em;
    background-color: #fff;
    margin: 0.5em;
    margin-top: 4em;
    display: inline-block;
    border: blue, solid;
}

footer{
    width: 100%;
    height:10em;
    background-color: var(--negro);
}

/**************
#       CONFIGURACION RESPONSIVE        *
**************/

@media screen and (max-width:800px){
    body{
        background-color: red;
    }
}

@media screen and (max-width:414px){
    .contenedor{
        width: 100%;
    }
    .presentacion{
        height: 500px;
    }
}

@media only screen and (max-width:320px) {
    section{
        background-color: black;
    }
}    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
