body{
    background-color:var(--gris);
    height: auto;
}

.presentacion{
    width: 100%;
    height: 20em;
    background-image: url(../img/presentacion.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 1.5em;
}

.jose{
    width: auto;
    height: 97%;
    margin-top: 36px;
    margin-left: 48.35%;
}

.acercademi{
    width: 100%;
    height: 63em;
    background-color: var(--blanco);
    text-align: center;
    display: inline-block;
    padding: 36px;
    box-sizing: border-box;
}

.cuadronegro{
    width: 80%;
    height: 55em;
    max-width: 2000px;
    background-color: var(--blanco);
    box-shadow: -24px 20px 50px rgba(0, 0, 0, .3);
    text-align: justify;
    margin: auto;
    box-sizing: border-box;
}

.cuadroacercademi{
    width: 55%;
    height: 100%;
    background-color: var(--blanco);
    padding: 10px;
    padding-top: 150px;
    padding-left: 70px;
    box-sizing: border-box;
    display: inline-block;
    float: right;
}

.text1{
    line-height: 35px;
    font-size: 3.5em;
    letter-spacing: 5px;
}

.text2{
     line-height: 35px;
    font-size: 3.5em;
    letter-spacing: 5px;
}

.text3{
     line-height: 35px;
    font-size: 3.5em;
    letter-spacing: 5px;
}

.text4{
     line-height: 35px;
    font-size: 3.5em;
    letter-spacing: 5px;
}

.text5{
    line-height: 35px;
    font-size: 3.5em;
    letter-spacing: 4px;
}

.boton{
    height: 3.5em;
    width: 17em;
    background-color: var(--azul);
    margin-top: 3em;
    border-radius: 2em;
}

.boton a{
    font-size: 1em;
    color: var(--blanco);
    text-decoration: none;
    display: block;
}

.cuadroimg{
    width: 45%;
    height: 100%;
    background-image: url(../img/plantilla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: inline-block;
}

.proyectos1{
    width: 100%;
    height: auto;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.contenedor{
    width: 80%;
    max-width: 2000px;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    margin: 0 auto;
    overflow: hidden;
}

.programas{
    width: 100%;
    height: 45em;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.text{
    width: 100%;
    height: 10em;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;;
}

.progras{
    color: var(--negro);
    font-size: 4em;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    display: inline-block;
}

.cuadritos{
    width: 100%;
    height: 100%;
    background-image: url(../img/FONDO1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    text-align:center;
}

.c1, .c2, .c3, .c4, .c5{
    width: 24em;
    height: 24em;
    background-color: #fff;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    display: inline-block;
    box-sizing: border-box;
}

.c1:hover{
    box-shadow: -14px 5px 25px rgba(0, 0, 0, .3);
    transition: .6s;
}

.c2:hover{
    box-shadow: -14px 5px 25px rgba(0, 0, 0, .3);
    transition: .6s;
}

.c3:hover{
    box-shadow: -14px 25px 25px rgba(0, 0, 0, .3);
    transition: .6s;
}

.c4:hover{
    box-shadow: -14px 5px 25px rgba(0, 0, 0, .3);
    transition: .6s;
}

.c5:hover{
    box-shadow: -14px 5px 25px rgba(0, 0, 0, .3);
    transition: .6s;
}

.pro1{
    width: 100%;
    height: 85%;
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro2{
    width: 100%;
    height: 85%;
    background-image: url(../img/illustrator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro3{
    width: 100%;
    height: 85%;
    background-image: url(../img/adobexd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro4{
    width: 100%;
    height: 85%;
    background-image: url(../img/6e43d3706a0bc3174710409a74b0ab9b.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro5{
    width: 100%;
    height: 85%;
    background-image: url(../img/brackets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.protext{
    font-size: 2em;
    margin-top: 0.5em;
    color: var(--azul);
}


/**************
#       CONFIGURACION RESPONSIVE        *
**************/
@media screen and (max-width:5000px){
    .jose{
        width: 904px;
        height: 1003px;
        margin-top: 140.9px;
        margin-left: 57.3%;
    }
}
@media screen and (max-width:3000px){
    .jose{
        width: 704px;
        height: 803px;
        margin-top: 99.9px;
        margin-left: 52.3%;
    }
}
@media screen and (max-width:2574px){
    .jose{
        width: 704px;
        height: 803px;
        margin-top: 99.9px;
        margin-left: 50.3%;
    }
}
@media screen and (max-width:2185px){
    .presentacion{
        height: 70em;
    }
    .jose{
        width: auto;
        height: 97%;
        margin-top: 40.9px;
        margin-left: 48.3%;
    }
}
@media screen and (max-width:2152px){
    .jose{
        width: auto;
        height: 97%;
        margin-top: 37px;
        margin-left: 48.3%;
    }
}
@media screen and (max-width:2148px){
    .jose{
        width: auto;
        height: 97%;
        margin-top: 28px;
        margin-left: 48%;
    }
}
@media screen and (max-width:1962px){
    .jose{
        margin-left: 47.8%;
    }
}
@media screen and (max-width:1836px){
    .presentacion{
        height: 680px;
    }
    .jose{
        width: auto;
        height: 97%;
        margin-top: 30px;
        margin-left: 48.2%;
    }
    .acercademi{
        height: 700px;
    }
    .cuadronegro{
        height: 610px;
    }
    .cuadroimg{
        height: 560px;
    }
}
@media screen and (max-width:1827px){
    .jose{
        width: auto;
        height: 97%;
        margin-top: 25px;
        margin-left: 48.2%;
    }
}
@media screen and (max-width:1817px){
    .jose{
        width: auto;
        height: 97%;
        margin-top: 24px;
        margin-left: 48%;
    }
}
@media screen and (max-width:1741px){
    .jose{
        width: auto;
        height: 97%;
        margin-top: 24.5px;
        margin-left: 47.9%;
    }
    .presentacion{
        height: 700px;
    }
    .acercademi{
        height: 720px;
    }
    .cuadronegro{
        height: 630px;
    }
    .cuadroimg{
        height: 580px;
    }
}

@media screen and (max-width:1692px){
    .presentacion{
        height: 640px;
    }
    .contenedor{
        width: 100%;
        height: 480px;
    }
    .acercademi{
        height: 710px;
    }
    .cuadronegro{
        width: 100%;
        height: 630px;
        text-align: left;
        padding: 20px;
    }
    .acercademitexto{
        font-size: 35px;
        float: left;
        padding-left: 20px;
    }
    .programas{
        height: 750px;
    }
    .progras{
        font-size: 35px;
    }
    .cuadroimg{
        width: 40%;
        height: 590px;
    }
    .cuadroacercademi{
        width: 60%;
        height: 300px;
        padding: 20px;
    }
}
@media screen and (max-width:1576px){
    .jose{
        width: auto;
        height: 97%;
        margin-top: 23px;
        margin-left: 47.7%;
    }
}
@media screen and (max-width:1371px){
    .presentacion{
        height: 500px;
    }
    .jose{
        width: auto;
        height: 97%;
        margin-top: 23px;
        margin-left: 48.2%;
    }
    .contenedor{
        width: 100%;
        height: 750px;
    }
    .c1, .c2, .c3, .c4, .c5{
        width: 26em;
        height: 26em;
    }
    .acercademi{
        height: auto;
    }
    .cuadronegro{
        height: auto;
        padding: 20px;
    }
    .cuadroacercademi{
        width: 100%;
        height: auto;
        font-size: 8px;
    }
    .cuadroimg{
        width: 100%;
        height: 550px;
    }
}
@media screen and (max-width:1340px){
    .jose{
        margin-top: 17px;
        margin-left: 48%;
    }
}
@media screen and (max-width:1161px){
    .presentacion{
        height: 440px;
    }
    .jose{
        margin-top: 15px;
        margin-left: 48%;
    }
}
@media screen and (max-width:1035px){
    .jose{
        margin-top: 15px;
        margin-left: 47.6%;
    }
}
@media screen and (max-width:952px){
    
    .presentacion{
        height: 360px;
    }
    .jose{
        margin-top: 12.5px;
        margin-left: 47.9%;
    }
    .acercademi{
        height: auto;
    }
    .cuadronegro{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 20px;
    }
    .acercademitexto{
        font-size: 30px;
        float: left;
        padding-left: 0px;
    }
    .programas{
        height: 750px;
    }
    .c1, .c2, .c3, .c4, .c5{
        width: 24em;
        height: 24em;
    }
    .cuadroimg{
        width: 90%;
        height: 400px;
    }
    .cuadroacercademi{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .contenedor{
        width: 100%;
        height: auto;
    }
    .progras{
        font-size: 30px;
    }
    .cuadritos{
        width: auto;
        height: auto;
    }
    div2{
        height: 320px;
        width: 310px;
    }
    .footer-content p{
    font-size: 12px;
    }
}

@media screen and (max-width:830px){
    .presentacion{
        height: 330px;
    }
    .jose{
        margin-top: 11px;
        margin-left: 47.8%;
    }
}
@media screen and (max-width:825px){
    .contenedor{
        width: 100%;
        height: 1000px;
    }
    .jose{
        margin-top: 12.2px;
        margin-left: 47.8%;
    }
}

@media screen and (max-width:722px){
    .presentacion{
        height: 280px;
    }
    .jose{
        margin-top: 9.5px;
        margin-left: 47.9%;
    }
    .contenedor{
        width: 100%;
        height: 1000px;
    }
    .acercademi{
        height: auto;
    }
    .acercademitexto{
        font-size: 26px;
        float: left;
        padding-left: 0px;
    }
    .cuadroacercademi{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .cuadroimg{
        width: 90%;
        height: 300px;
    }
    .progras{
        font-size: 30px;
    }
    .cuadronegro{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px;
    }
    .footer-content p{
    font-size: 9px;
    }
}
@media screen and (max-width:702px){
    .presentacion{
        height: 280px;
    }
    .jose{
        margin-top: 9.2px;
        margin-left: 47.8%;
    }
    .contenedor{
        width: 100%;
        height: 1200;
    }
}
@media screen and (max-width:616px){
    .jose{
        margin-top: 9.2px;
        margin-left: 47.5%;
    }
}
@media screen and (max-width:562px){
    .presentacion{
        height: 220px;
    }
    .jose{
        margin-top: 8.8px;
        margin-left: 47.8%;
    }
    .contenedor{
        width: 100%;
        height: 1550px;
    }
}
@media screen and (max-width:462px){
    .presentacion{
        height: 220px;
    }
    .jose{
        margin-top: 8px;
        margin-left: 47.7%;
    }
}
@media screen and (max-width:408px){
    .jose{
        margin-top: 8px;
        margin-left: 47.4%;
    }
}
@media screen and (max-width:380px){
    .presentacion{
        height: 210px;
    }
    .jose{
        margin-top: 5px;
        margin-left: 47.7%;
    }
}
@media screen and (max-width:246px){
    .jose{
        margin-top: 5px;
        margin-left: 47%;
    }
}