body{
    background-color:var(--gris);
    height: auto;
}

.presentacion{
    width: 100%;
    height: 85em;
    background-image: url(../img/Sin%20t%C3%ADtulo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    margin-top: 1.5em;
}

.acercademi{
    width: 100%;
    height: 64em;
    background-color: var(--blanco);
    text-align: center;
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
}

.cuadronegro{
    width: 80%;
    height: 57em;
    max-width: 2000px;
    background-color: var(--blanco);
    box-shadow: -14px 25px 25px rgba(0, 0, 0, .3);
    text-align: center;
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
}

.cuadroacercademi{
    width: 60%;
    height: 40em;
    background-color: var(--blanco);
    padding: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    display: inline-block;
    float: right;
}

.acercademitexto{
    color: var(--azul);
    font-size: 4em;
    float: left;
}

.cuadroacercademi p{
    margin: 10px auto;
    line-height: 20px;
    font-size: 16px;
    text-align: justify;
}

.cuadroimg{
    width: 40%;
    height: 52em;
    background-image: url(../img/ilustracion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.contenedor{
    width: 80%;
    max-width: 2000px;
    background-color: var(--gris);
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2em;
}

.programas{
    width: 100%;
    height: 45em;
    background-color: var(--gris);
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.text{
    width: 100%;
    height: 10em;
    background-color: var(--gris);
}

.progras{
    color: var(--negro);
    font-size: 4em;
    float: left;
    margin-top: 1em;
    display: inline-block;
}

.cuadritos{
    width: 100%;
    height: 100%;
    background-color: var(--gris);
    text-align:center;
}

div2{
    width: 24em;
    height: 24em;
    background-color: #fff;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    display: inline-block;
    box-sizing: border-box;
}

.pro1{
    width: 100%;
    height: 85%;
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro2{
    width: 100%;
    height: 85%;
    background-image: url(../img/illustrator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro3{
    width: 100%;
    height: 85%;
    background-image: url(../img/adobexd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro4{
    width: 100%;
    height: 85%;
    background-image: url(../img/c0db0dd79101111ea7b7e0feaa4c1c35.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.pro5{
    width: 100%;
    height: 85%;
    background-image: url(../img/brackets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.protext{
    font-size: 2em;
    margin-top: 0.5em;
    color: var(--azul);
}

footer{
    width: 100%;
    height: auto;
    background-color: var(--negro);
    padding-top: 40px;
    color: var(--blanco);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: var(--blanco);
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: var(--negro);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/**************
#       CONFIGURACION RESPONSIVE        *
**************/
@media screen and (max-width:1836px){
    .acercademi{
        height: 700px;
    }
    .cuadronegro{
        height: 610px;
    }
    .cuadroimg{
        height: 560px;
    }
}
@media screen and (max-width:1741px){
    .presentacion{
        height: 800px;
    }
    .acercademi{
        height: 720px;
    }
    .cuadronegro{
        height: 630px;
    }
    .cuadroimg{
        height: 580px;
    }
}

@media screen and (max-width:1692px){
    .presentacion{
        height: 770px;
    }
    .contenedor{
        width: 100%;
        height: 480px;
    }
    .acercademi{
        height: 710px;
    }
    .cuadronegro{
        width: 100%;
        height: 630px;
        text-align: left;
        padding: 20px;
    }
    .acercademitexto{
        font-size: 35px;
        float: left;
        padding-left: 20px;
    }
    .programas{
        height: 750px;
    }
    .progras{
        font-size: 35px;
    }
    .cuadroimg{
        width: 40%;
        height: 590px;
    }
    .cuadroacercademi{
        width: 60%;
        height: 300px;
        padding: 20px;
    }
}
@media screen and (max-width:1351px){
    .presentacion{
        height: 800px;
    }
    .contenedor{
        width: 100%;
        height: 740px;
    }
    .acercademi{
        height: auto;
    }
    .cuadronegro{
        height: auto;
        padding: 20px;
    }
    .cuadroacercademi{
        width: 100%;
        height: auto;
        font-size: 8px;
    }
    .cuadroimg{
        width: 100%;
        height: 700px;
    }
}

@media screen and (max-width:952px){
    .presentacion{
        height: 540px;
    }
    .acercademi{
        height: auto;
    }
    .cuadronegro{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 20px;
    }
    .acercademitexto{
        font-size: 30px;
        float: left;
    }
    .programas{
        height: 750px;
    }
    .cuadroimg{
        width: 90%;
        height: 400px;
    }
    .cuadroacercademi{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .contenedor{
        width: 100%;
        height: 1290px;
    }
    .progras{
        font-size: 30px;
    }
    .cuadritos{
        width: auto;
        height: auto;
    }
    div2{
        height: 320px;
        width: 310px;
    }
    .footer-content p{
    font-size: 12px;
    }
}

@media screen and (max-width:722px){
    .presentacion{
        height: 300px;
    }
    .contenedor{
        width: 100%;
        height: 1290px;
    }
    .acercademi{
        height: auto;
    }
    .acercademitexto{
        font-size: 30px;
        float: left;
    }
    .cuadroacercademi{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .cuadroimg{
        width: 90%;
        height: 300px;
    }
    .progras{
        font-size: 30px;
    }
    .cuadronegro{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 20px;
    }
    .footer-content p{
    font-size: 9px;
    }
}
@media screen and (max-width:702px){
    .contenedor{
        width: 100%;
        height: 2000px;
    }
}
