.menu{
    width: 100%;
    height: 8em;
    text-align: end;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    width: 16em;
    margin-top: 0.5em;
    margin-right: 10em;
    float: left;
    margin-left: 6em;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
    justify-content: flex-end;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 8px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: var(--negro);
}

.menu_items li:hover, li.active{
    background-color: rgba(0, 0, 0, .1);
    transition: 0.4s;
}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: (--negro);
    cursor: pointer;
    display: none;
}

ul.show{
    top:65px;
}

/*****************************************************/


@media screen and (max-width:952px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: var(--negro);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 65px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: var(--blanco);
    }
    .menu_items li a:hover{
        color: var(--blanco);
    }
    .logo{
        width: 10em;
        padding-left: 0px;
    }
}

@media screen and (max-width:858px) and (orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}