body{
    background-color:var(--gris);
    height: auto;
}

.presentacion{
    width: 100%;
    height: 70em;
    background-image: url(../img/MISPROYECTOS22.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    margin-top: 1.5em;
}

.proyectos11{
    width: 100%;
    height: 100%;
    background-color: var(--blanco);
}

.contenedor11{
    width: 80%;
    max-width: 2200px;
    background-color: var(--blanco);
    margin: 0 auto;
    overflow: hidden;
}

.row galeria{
    justify-content: center;
}

.text11{
    width: 100%;
    height: 8em;
    background-color: var(--blanco);
}

.galeria img{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
}

.materialbox-caption{
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    background: var(--negro);
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col{
    margin-bottom: 20px;
}

.proyectos2{
    width: 100%;
    height: 100%;
    background-image: url(../img/fondoproyectos2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.contenedor2{
    width: 80%;
    max-width: 2200px;
    margin: 0 auto;
    overflow: hidden;
}

.text2{
    width: 100%;
    height: 8em;
}

.proyectos3{
    width: 100%;
    height: 100%;
    background-image: url(../img/fondoproyectos3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.contenedor3{
    width: 80%;
    max-width: 2200px;
    margin: 0 auto;
    overflow: hidden;
}

.text3{
    width: 100%;
    height: 8em;
}

.proyectos4{
    width: 100%;
    height: 100%;
    background-color: var(--gris);
}

.contenedor4{
    width: 80%;
    max-width: 2200px;
    background-color: var(--gris);
    margin: 0 auto;
    overflow: hidden;
}

.text4{
    width: 100%;
    height: 8em;
    background-color: var(--gris);
}


/**************
#       CONFIGURACION RESPONSIVE        *
**************/
@media screen and (max-width:1741px){
    .presentacion{
        height: 800px;
    }
}

@media screen and (max-width:1692px){
    .presentacion{
        height: 700px;
    }
}
@media screen and (max-width:1351px){
    .presentacion{
        height: 550px;
    }
    .contenedor1{
        width: 100%;
        height: 740px;
    }
}

@media screen and (max-width:952px){
    .presentacion{
        height: 580px;
    }
    .footer-content p{
    font-size: 12px;
    }
}


@media screen and (max-width:722px){
    .presentacion{
        height: 280px;
    }
    .footer-content p{
    font-size: 9px;
    }
}
