*{
    margin: 0;
    padding: 0;
    font-family: 'Chango', cursive;
    font-family: 'Comfortaa', cursive;
}
:root{
    --blanco: #ffffff;
    --gris: #F0F0F0;
    --negro: #202020;
    --griso: #7F7F7F;
    --celeste: #8CE0E6;
    --azul: #20255B;
}

body{
    font-size: 10px;
    width: 100%;
}

section{
    width: 100%;
    height: auto;
}
